<section class="checkout-component" *ngIf="dataService.currentEvent">
    <div class="container">
        <div *ngFor="let event of dataService.currentEvent; let i = index;">
            <div>
                <img [src]="event?.image" width="100%" height="300px" alt="">
            </div>
            <div class="content-container">
                <h1 class="title">
                    {{event?.name}}
                </h1>
                <form (ngSubmit)="updateAllTickets()" #checkoutForm="ngForm">
                    <!--<label for="firstName">First Name</label>-->
                    <!--<input type="text" id="firstName" name="firstName" [(ngModel)]="formObj.firstName" #firstName>-->
                    <div class="material-field">
                        <mat-form-field>
                            <input matInput required type="text" placeholder="First Name" id="firstName" name="firstName" [(ngModel)]="formObj.firstName" #firstName="ngModel">
                        </mat-form-field>
                        <!--{{firstName.invalid}}-->

                        <!--<label for="lastName">Last Name</label>-->
                        <!--<input type="text" id="lastName" name="lastName" [(ngModel)]="formObj.lastName" #lastName>-->
                        <mat-form-field>
                            <input matInput required type="text" placeholder="Last Name" id="lastName" name="lastName" [(ngModel)]="formObj.lastName" #lastName="ngModel">
                        </mat-form-field>
                        <!--{{lastName.invalid}}-->
                        <!--<label for="email">Email</label>-->
                        <!--<input type="email" id="email" name="email" [(ngModel)]="formObj.email" #email>-->
                        <mat-form-field>
                            <input matInput required type="email" placeholder="Email" id="email" name="email" [(ngModel)]="formObj.email" #email="ngModel">
                        </mat-form-field>
                        <!--{{email.invalid}}-->
                        <mat-form-field>
                            <input matInput required type="text" placeholder="Phone Number" id="number" name="number" [(ngModel)]="formObj.number" #number="ngModel">
                        </mat-form-field>
                        <!--{{number.invalid}}-->
                    </div>
                    <!--<button [routerLink]="[event?.url, 'checkout']" mat-raised-button color="primary" [disabled]="!ticketSelected">Checkout</button>-->
                    <button mat-raised-button color="primary" type="submit" [disabled]="number.invalid || email.invalid || firstName.invalid || lastName.invalid" (click)="showModal=true">Confirm</button>
                </form>
                <div class="ticket-section">
                    <ul class="list">
                        <li *ngFor="let ticket of event?.tickets" class="ticket">
                            <div class="ticket-info">
                                <div *ngIf="ticket?.selected">
                                    <h3>{{event?.name}} - {{ticket?.name}}</h3>
                                    <div>
                                        {{ticket?.date}}
                                    </div>
                                    <div>{{ticket?.selected}} tickets</div>
                                </div>
                            </div>
                            <!--<div class="material-field">-->
                            <!--<mat-form-field>-->
                            <!--<input-->
                            <!--matInput-->
                            <!--type="number"-->
                            <!--min="0"-->
                            <!--placeholder="*Select Quantity"-->
                            <!--(keypress)="preventDef($event)"-->
                            <!--(change)="handleTicketUpdate()"-->
                            <!--[max]="ticket?.available"-->
                            <!--[(ngModel)]="ticket.selected"-->

                            <!--/>-->
                            <!--</mat-form-field>-->
                            <!--</div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" *ngIf="showModal">
    <div class="modal-guts">
        <div>
            Checkout successful, you have successfully purchased your ticket!!
        </div>
        <div>
            Please view the network tab to double check :=)
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="showModal=false">Checkout</button>
        </div>
    </div>
</div>
<div class="modal-overlay" (click)="showModal=false" *ngIf="showModal"></div>

