.checkout-component {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  background: #fff;
  margin: 20px 0;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

a {
  color: #4a9fd4;
}


.content-container {
  padding: 0 40px;
}

.title {
  padding: 10px 0 10px;
}


.share-icons fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
}

.ticket-info {
  display: flex;
}

.tickets-remaining {
  padding-left: 10px;
}

.material-field {
  mat-form-field {
    margin-right: 60px;
  }

  &::ng-deep {
    .mat-form-field-flex {
      width: 300px;
    }
  }
}

.sold-out {
  color: #dd053e;
}


.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}
