.home-component {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  background: #fff;
  margin-top: 20px;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

.content-container {
  padding: 0 40px;
}

.title {
  padding: 10px 0 10px;
}

ul {
  list-style-type: none;
}
