<section class="home-component">
    <div class="container">
        <div *ngFor="let event of dataService.currentEvent; let i = index;">
            <div>
                <img [src]="event?.image" width="100%" height="300px" alt="">
            </div>
            <div class="content-container">
                <h1 class="title">
                    {{event?.name}}
                </h1>
                <div class="items">
                    <span>
                          <!--<fa name="calendar"></fa>-->
                    </span>
                    <span>
                        {{event?.date}}
                    </span>
                </div>
                <div class="items">
                    <span>
                       <!--<fa name="map-marker" class="fa-lg"></fa>-->
                    </span>
                    <a [href]="'http://www.google.com/search?q=' + event?.location" target="_blank">
                        {{event?.location}}
                    </a>
                </div>
                <div class="share items">
                    <h2>
                        Share:
                    </h2>
                    <div class="share-icons">
                        <!--<fa name="facebook" class="fa-lg icon"></fa>-->
                        <!--<fa name="twitter" class="fa-lg icon"></fa>-->
                        <!--<fa name="envelope" class="fa-lg icon"></fa>-->
                        <!--<fa name="linkedin" class="fa-lg icon"></fa>-->
                    </div>
                </div>
                <div>
                    <h2>Tickets: </h2>
                    <ul class="list">
                        <li *ngFor="let ticket of event?.tickets" class="ticket">
                            <div class="ticket-info">
                                <div>{{ticket?.name}}:</div>
                                <div class="tickets-remaining" *ngIf="ticket?.available !== 'null'">
                                    <span *ngIf="ticket?.available !== ticket.selected">(Tickets remaining: {{ticket?.available - ticket.selected}})</span>
                                    <span class="sold-out" *ngIf="ticket?.available === ticket.selected">SOLD OUT!</span>
                                </div>
                            </div>
                            <div class="material-field">
                                <mat-form-field>
                                    <input
                                            matInput
                                            type="number"
                                            min="0"
                                            placeholder="*Select Quantity"
                                            (keypress)="preventDef($event)"
                                            (change)="handleTicketUpdate()"
                                            [max]="ticket?.available"
                                            [(ngModel)]="ticket.selected"

                                    />
                                </mat-form-field>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn-container">
                    <button mat-raised-button color="accent" class="exit-btn" [routerLink]="['/']">Exit</button>
                    <button [routerLink]="[event?.url, 'checkout']" mat-raised-button color="primart" [disabled]="!ticketSelected">Checkout</button>
                </div>
                <div class="desc-container">
                    <h3>
                        Description
                    </h3>
                    <p>
                        {{event?.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

